.review {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0rem;
}
.finishButton {
  margin-top: 0.5rem;
  width: 100%;
  padding: 0rem;
}
.buttonContainer {
  margin-top: 1rem;
  width: 100%;
}
