.desktopTitle {
  display: none;
  font-size: xx-large;
  font-weight: 700;
  color: var(--color-main);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .desktopTitle {
    display: block;
  }
}
