:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-main: #422800;
  --color-main-background: #fbeee0;
  --box-shadow: var(--color-main) 4px 4px 0 0;
  --border: 2px solid var(--color-main);
  --header-height: 5rem;
  --button-hover-background-color: #fff;
  --button-height: 2rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - var(--header-height));
  margin-top: var(--header-height);
  box-sizing: border-box;
  /* background-color: var(--color-main-background);
  color: var(--color-main);
  line-height: 2rem; */
}

html {
  line-height: 2rem;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--color-main-background);
  font-weight: 600;
  font-size: 18px;
}

header {
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  background-color: #fbeee0;
  height: var(--header-height);
}

nav {
  margin: 1em;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  flex-direction: row;
}
nav ul li a {
  list-style: none;
  text-decoration: none;
}
nav ul li {
  padding: 0.5rem;
}
nav ul li:hover {
  background-color: var(--button-hover-background-color);
}
nav ul li.current-location {
  border-bottom: var(--border);
}
h1 {
  font-size: larger;
}

input:focus {
  outline: none;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  box-sizing: border-box;
  width: 100vw;
}

.page-container .review {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.test-page-current-word-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.cool-border-with-shadow {
  border: var(--border);
  /* background-color: var(--color-main-background);
  color: var(--color-main); */
  display: inline-block;
  padding: 0 1rem;
  height: var(--button-height);
  text-align: center;
}

.icon-button {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  cursor: pointer;
  margin-left: 1rem;
  font-size: 0.5rem;
}

/* *start* button */
.button {
  font-family: inherit;
  font-weight: 600;
  font-size: 18px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* align-self: start; */
}
.button:hover {
  background-color: var(--button-hover-background-color);
}
.button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}
.button:active:disabled {
  box-shadow: var(--box-shadow);
  transform: none;
}
.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.correct-word {
  background-color: rgb(43, 252, 183);
}
.correct-word:hover {
  background-color: rgb(43, 252, 183, 0.5);
}
/* end button */

.nav-link {
  display: inline-block;
  padding: 0 1rem;
  height: var(--button-height);
  text-align: center;
  text-decoration: none;
}
.nav-link:hover {
  background-color: var(--button-hover-background-color);
}

/* .page-container .current-words {
  list-style-type: decimal;
} */

.wordItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
  border: var(--border);
  background-color: var(--color-main-background);
}
.page-container .word-list {
  list-style-type: decimal;
  margin: 1rem 0rem 1rem 2rem;
  /* max-width: fit-content; */
}
.word-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
}

.page-container .add-word-form {
  display: flex;
  flex-direction: column;
  height: 2rem;
  gap: 1rem;
  height: fit-content;
  margin-top: 2rem;
}
.page-container .add-word-input {
  display: flex;
  flex-direction: column;
}
.page-container .edit-controls {
  display: flex;
  flex-direction: column;
}

.page-container .controls {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

@media (min-width: 768px) {
  .button {
    min-width: 120px;
    padding: 0 25px;
  }
  .icon-button {
    padding: 0px;
    min-width: 2rem;
  }
}
