@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-main: #422800;
  --color-main-background: #fbeee0;
  --box-shadow: var(--color-main) 4px 4px 0 0;
  --border: 2px solid var(--color-main);
  --header-height: 5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255; */
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - var(--header-height));
  margin-top: var(--header-height);
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
  background-color: var(--color-main-background);
  font-weight: 600;
  font-size: 18px;
}

header {
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 1000;
  background-color: #fbeee0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--header-height);
}

h1 {
  font-size: larger;
}

/* start checkbox */

/* end checkbox */

.test-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  gap: 5rem;
}

.test-page-current-word-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.cool-border-with-shadow {
  border: var(--border);
  background-color: var(--color-main-background);
  /* border-radius: 30px; */
  /* box-shadow: var(--box-shadow); */
  color: var(--color-main);
  display: inline-block;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
}

/* start button */
.button {
  box-shadow: var(--box-shadow);
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: #fff;
}

.button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.button:active:disabled {
  box-shadow: var(--box-shadow);
  transform: none;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.correct-word {
  background-color: rgb(43, 252, 183);
}

.correct-word:hover {
  background-color: rgb(43, 252, 183, 0.5);
}

/* end button */

@media (min-width: 768px) {
  .button {
    min-width: 120px;
    padding: 0 25px;
  }
}
