.header {
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  background-color: #fbeee0;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

.headerContent {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.headerCenter {
  display: none;
}

@media (min-width: 768px) {
  .headerCenter {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.header button {
  box-shadow: none;
}
