.breadcrumbs {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding-left: 2rem;
  color: var(--text-primary);
  margin-top: calc(var(--header-height) + 1rem);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  background-color: transparent;
  transform: none;
  box-shadow: none;
}

.homeLink {
  all: unset;
  cursor: pointer;
}

@media (max-width: 667px) {
  .breadcrumbs {
    padding-left: 0.5rem;
    margin-top: calc(var(--header-height) + 0.5rem);
  }
}
