.tableContainer {
  width: 100%;
  overflow-x: auto;
  border: var(--border);
  box-shadow: var(--box-shadow);
}

.words {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
