.tableContainer {
  max-height: 70vh;
  overflow: auto;
  width: 100%;
  border: var(--border);
  box-shadow: var(--box-shadow);
}

.tableContainer th {
  position: sticky;
  top: 0;
  background-color: var(--color-main-background);
  z-index: 1;
}

.streak {
  white-space: nowrap;
}
